body
{
 font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 18px;
}


/* Tables */
th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  text-align: left;
  background-color: #3367d6;
  border-color: rgb(151, 150, 168) !important;
  color: white;
}

form {
  background: #fafafa;
  width: 30%
}

input[type=submit] {
  background-color: #3367d6;
  color: white;
  padding: 3px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.oddTableRow {
    background-color:rgb(232, 246, 247);
}

.tableRow { background-color:rgb(246, 253, 253); } 

tr:hover {background-color: rgba(233, 235, 154, 0.76) !important;}
.selectedTableRow {
    background-color: rgba(141, 186, 238, 0.76) !important;
}

